<a href="https://colab.research.google.com/github/hyunggu-Kang/vacation-study-project/blob/main/%EC%9C%BC%EB%9C%B8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_2%EB%8B%A8%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('나의 이름은:','홍길동')
print("나의 나이는:",'24')
print('나의 키는', 184, 'cm입니다.')
print('10 + 20=',10+20)
print('10*20 =', 10*20)

나의 이름은: 홍길동
나의 나이는: 24
나의 키는 184 cm입니다.
10 + 20= 30
10*20 = 200

In [3]:
r=4
print('원의 반지름:',r)
print('원의 면적:',3.14*r*r)
print('원의 둘레:', 2*3.14*r)

원의 반지름: 4
원의 면적: 50.24
원의 둘레: 25.12

In [4]:
#LAB 2-2.
r=8
print('원의 반지름:',r)
print('원의 면적:',3.14*r*r)
print('원의 둘레:', 2*3.14*r)

원의 반지름: 8
원의 면적: 200.96
원의 둘레: 50.24

In [5]:
#LAB 2-3.
#1.
r=8
print('원의 반지름:',r)
print('원의 면적:',3.14*r*r)
print('원의 둘레:', 2*3.14*r)

#2.
r=10
print('원의 반지름:',r)
print('원의 면적:',3.14*r*r)
print('원의 둘레:', 2*3.14*r)

#3.
width =100
height = 200
print('너비',width,',높이',height,'인 사각형의 면적:',width*height)

원의 반지름: 8
원의 면적: 200.96
원의 둘레: 50.24
원의 반지름: 10
원의 면적: 314.0
원의 둘레: 62.800000000000004
너비 100 ,높이 200 인 사각형의 면적: 20000

In [6]:
#대화창 실습
name = '갱'
print('이름:',name)

이름: 갱

In [7]:
#LAB 2-4
name = '전우치'
print('나의 이름은:',name)
age=27
print('나의 나이는:',age)
height=179
print('나의 키는',height,'cm입니다.')

나의 이름은: 전우치
나의 나이는: 27
나의 키는 179 cm입니다.

In [8]:
#LAB 2-5
iixxjjkk = 20
print('나의 나이는',iixxjjkk,'세 입니다.')

나의 나이는 20 세 입니다.

In [9]:
radius = 20
depth = 10
final_length = 0.5*radius*depth
print('삼각형의 면적은',final_length)

삼각형의 면적은 100.0

In [10]:
#LAB 2-7.
2**0.5
3**0.5

1.7320508075688772

In [11]:
#lab 2-8
a= 8+2j
b= 4+3j

print(a+b)
print(a-b)
print(a*b)
print(a/b)

(12+5j)
(4-1j)
(26+32j)
(1.52-0.64j)

In [12]:
num=200
num+=100
num

300

In [13]:
#9
a=1024
a>>1

512

In [14]:
a>>2

256

In [15]:
a=a>>1
a

512

In [16]:
a=a>>1
a

256

In [17]:
a=1
a<<1

2

In [18]:
a=a<<1

In [19]:
a

2

In [20]:
a=a<<1
a=a<<1
a

8

In [21]:
name=input('이름을 입력하세요.:')
print('이름:',name)
age = int(input('나이를 입력하세요:'))
print('10년 후 나이:',age+10)

이름을 입력하세요.:갱
이름: 갱
나이를 입력하세요:22
10년 후 나이: 32

In [26]:
#연습문제 2.8
a=2
n=2
print('a    n   a**n')
print(a,'  ',n,'   ',a**n)
a+=1
print(a,'  ',n,'   ',a**n)
a+=1
print(a,'  ',n,'   ',a**n)
a+=1
print(a,'  ',n,'   ',a**n)
a+=1
print(a,'  ',n,'   ',a**n)

a    n   a**n
2    2     4
3    2     9
4    2     16
5    2     25
6    2     36

In [28]:
n=2
print('a    n   a**n')
for a in range(2,7):
  print(a,'  ',n,'   ',a**n)

a    n   a**n
2    2     4
3    2     9
4    2     16
5    2     25
6    2     36

In [31]:
#연습문제 2.9

print('섭씨   화씨')
for i in range (0,51,10):
  fahrenheit = (9/5) * i + 32
  print(i,' ',fahrenheit)

섭씨   화씨
0   32.0
10   50.0
20   68.0
30   86.0
40   104.0
50   122.0

In [32]:
#연습문제 2.13
pi=3.141592
r= int(input('원의 반지름을 입력하세요:'))
print('원의 둘레:',2*pi*r, '원의 면적:',pi*r*r)

원의 반지름을 입력하세요:11
원의 둘레: 69.115024 원의 면적: 380.13263200000006

In [34]:
#연습문제 2.14
for i in range(2,11):
  print(i,'의 제곱근=',i**0.5)

2 의 제곱근= 1.4142135623730951
3 의 제곱근= 1.7320508075688772
4 의 제곱근= 2.0
5 의 제곱근= 2.23606797749979
6 의 제곱근= 2.449489742783178
7 의 제곱근= 2.6457513110645907
8 의 제곱근= 2.8284271247461903
9 의 제곱근= 3.0
10 의 제곱근= 3.1622776601683795

In [37]:
#연습문제 2.15

a=int(input('밑변을 입력하세요:'))
b=int(input('높이를 입력하세요:'))
c=(a**2+b**2)**0.5
print('빗변:',c)

밑변을 입력하세요:5
높이를 입력하세요:12
빗변: 13.0

In [41]:
#연습문제 2.17
for i in range(10):
  print(2<<i,end=' ')

2 4 8 16 32 64 128 256 512 1024

In [42]:
#연습문제 2.18
a=int(input('정수를 입력하세요:'))
if a%2 ==0:
  print('True')
else:
  print('False')

정수를 입력하세요:20
True

In [43]:
a=int(input('정수를 입력하세요:'))
if a%2 ==0:
  print('True')
else:
  print('False')

정수를 입력하세요:21
False

In [44]:
b=int(input('정수를 입력하세요:'))


if b%2 ==0 and 0<=b<=100:
  print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True')
else:
  print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False')

정수를 입력하세요:120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False

In [46]:
#2.23
c=int(input('세 자리 정수를 입력하세요:'))
d= c//100
e= c//10-d*10
f=c%10
print('백의 자리:',d,'\n십의 자리:',e,'\n일의 자리:',f)

세 자리 정수를 입력하세요:349
백의 자리: 3
십의 자리: 4
일의 자리: 9

In [48]:
#2.24
g=int(input('세 자리 정수를 입력하세요:'))
h=g%10
i=(g//10)%10
j=g//100
print(h)
print(i)
print(j)

세 자리 정수를 입력하세요:349
9
4
3