<a href="https://colab.research.google.com/github/hyunggu-Kang/vacation-study-project/blob/main/%EC%9C%BC%EB%9C%B8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EB%8B%A8%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age=18

if age<20:
  print('청소년 할인')

청소년 할인

In [2]:
walk_count = 1200

if walk_count >= 1000:
  print('목표 달성')

목표 달성

In [6]:
num_a=100
num_b=100

if num_a ==num_b:
  print('두 값이 일치합니다.')

두 값이 일치합니다.

In [9]:
#LAB 3-2
n=int(input('정수를 입력하세요:'))
print('n = ',n)
if n%2 ==0:
  print(n ,'은 짝수입니다.')

정수를 입력하세요:50
n =  50
50 은 짝수입니다.

In [15]:
x=int(input('-100에서 100 사이의 정수를 입력하세요:'))
if x>=100 or x<=-100:
  print('-100에서 100 사이의 정수를 입력하세요.')
  x=int(input('-100에서 100 사이의 정수를 입력하세요:'))
else:
  print('x=',x)
  if x>0:

    print(x,'는 자연수입니다.')

-100에서 100 사이의 정수를 입력하세요:-50
x= -50

In [16]:
#LAB 3-3.
x=int(input('게임점수를 입력하시오:'))
print('game_score=',x)
if x>=1000:
  print('고수입니다.')
else:
  print('입문자입니다.')

게임점수를 입력하시오:1000
game_score= 1000
고수입니다.

In [18]:
a=int(input('한 정수를 입력하시오:'))
b=int(input('다른 정수를 입력하시오:'))
if a==b:
  print('두 값이 일치합니다.')
else:
  print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오:300
다른 정수를 입력하시오:300
두 값이 일치합니다.

In [22]:
x=int(input('당신은 성인인가요(성인이면 1, 미성년이면 0):'))
if x==1:
  y=int(input('당신은 결혼을 하셨나요(기혼이면 1, 미혼이면 0):'))
  if y==1:
    print('당신은 결혼한 성인입니다.')
  else:
    print('당신은 결혼하지 않은 성인입니다.')
else:
  print('당신은 미성년자입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0):1
당신은 결혼을 하셨나요(기혼이면 1, 미혼이면 0):1
당신은 결혼한 성인입니다.

In [23]:
#윤년 작성 코드
year=int(input('연도를 입력하세요:'))
if (year%4 ==0) and (year%100!=0) or(year%400==0):
  print(year,'년은 윤년입니다.')

연도를 입력하세요:2000
2000 년은 윤년입니다.

In [24]:
year=int(input('연도를 입력하세요:'))
leapyear = (year%4 ==0) and (year%100!=0) or(year%400==0)
print(year,'년은 윤년입니까?',leapyear)

연도를 입력하세요:2000
2000 년은 윤년입니까? True

In [26]:
score=int(input('점수를 입력하세요'))
if score>=90:
  grade='A'
elif score>=80:
  grade='B'
elif score>=70:
  grade='C'
elif score>=60:
  grade='D'
else:
  grade='F'
print('당신의 등급은:',grade)

점수를 입력하세요80
당신의 등급은: B

In [27]:
#LAB 3-5
a=int(input('자동차의 속도를 입력하세요(단위:km/h)'))
if a>=100:
  print('고속')
elif a>60:
  print('중속')
else:
  print('저속')

자동차의 속도를 입력하세요(단위:km/h)13
저속

In [28]:
for i in range(5):
  print('Welcome to everyone!!')

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

In [29]:
for i in range(5):
  print(i,'Welcome to everyone!!')

0 Welcome to everyone!!
1 Welcome to everyone!!
2 Welcome to everyone!!
3 Welcome to everyone!!
4 Welcome to everyone!!

In [32]:
#LAB-3-7

list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [33]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [34]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [35]:
list(range(-100,0,1))

[-100,
 -99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [36]:
for i in range(5):
  print(i,end=' ')

0 1 2 3 4

In [38]:
s=0
for i in range(1,11):
  s+=i
print('1에서 10까지의 합:',s)

1에서 10까지의 합: 55

In [39]:
s=0
for i in range(1,11):
  s+=i
  print('i={}, s={}'.format(i,s))
print('1에서 10까지의 합:',s)

i=1, s=1
i=2, s=3
i=3, s=6
i=4, s=10
i=5, s=15
i=6, s=21
i=7, s=28
i=8, s=36
i=9, s=45
i=10, s=55
1에서 10까지의 합: 55

In [40]:
#LAB 3-8
s=0
for i in range(0,101):
  s+=i
print('1에서 100까지의 정수의 합:',s)

1에서 100까지의 정수의 합: 5050

In [41]:
s=0
for i in range(0,101,2):
  s+=i
print('1에서 100까지의 짝수의 합:',s)

1에서 100까지의 짝수의 합: 2550

In [42]:
s=0
for i in range(1,101,2):
  s+=i
print('1에서 100까지의 홀수의 합:',s)

1에서 100까지의 홀수의 합: 2500

In [50]:
n=int(input('합계를 구할 수를 입력하세요.'))
s=0
for i in range(0,n+1):
  s+=i
print(n,'까지의 합:',s)
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요.100
100 까지의 합: 5050
1부터 100까지의 합은 5050

In [53]:
#팩토리얼 계산
m=int(input('수 입력'))
t=1
for i in range(1,m+1):
  t*=i
print('{}!={}'.format(m,t))

수 입력5
5!=120

In [54]:
summer_fruits = ['수박','참외','체리','포도']

for fruit in summer_fruits:
  print(fruit, end= ' ')

수박 참외 체리 포도

In [58]:
numbers = [10,20,30,40,50]
s=0
for n in numbers:
  s+=n
print('리스트 항목 합:',s)

리스트 항목 합: 150

In [61]:
#구구단
for i in range(2,10):
  for j in range(2,10):
    print('{}*{}={}'.format(i,j,i*j), end=' ')
  print()

2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [62]:
for i in range(7):
  print(' '*i+'#')

#
 #
  #
   #
    #
     #
      #

In [63]:
#LAB 3-9
for i in range(7):
  print(' '*(6-i)+'#')

      #
     #
    #
   #
  #
 #
#

In [64]:
for i in range(4):
  print(' '*(4-i)+'+'*(2*i+1))

    +
   +++
  +++++
 +++++++

In [65]:
#소수 구하기
n=int(input('수를 입력하시오~'))
is_prime=True
for i in range(2,n):
  if n%i ==0:
    is_prime=False

print(n,'은 소수입니까?',is_prime)

수를 입력하시오~7
7 은 소수입니까? True

In [68]:
primes=[]

n=int(input('수를 입력하세요:')) #원하는 수 입력  
for j in range(1,n+1):            #1~원하는 수까지의 범위에서
  is_prime = True
  for k in range(2,j):            
    if j%k ==0:                   #원하는 수가 소수가 아니라면?
      is_prime = False            #걸러주세요!
  if is_prime:                    #소수라면?
    primes.append(j)              #[]에 is_prime을 추가!

print(primes)

수를 입력하세요:100
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [71]:
n=int(input('합을 구할 수를 입력하세요:'))
s=0
i=1
while i<=n:
  s+=i
  i+=1
  print('i={},s={}'.format(i,s))
print('1부터{}까지의 합은 {}입니다.'.format(n,s))

합을 구할 수를 입력하세요:100
i=2,s=1
i=3,s=3
i=4,s=6
i=5,s=10
i=6,s=15
i=7,s=21
i=8,s=28
i=9,s=36
i=10,s=45
i=11,s=55
i=12,s=66
i=13,s=78
i=14,s=91
i=15,s=105
i=16,s=120
i=17,s=136
i=18,s=153
i=19,s=171
i=20,s=190
i=21,s=210
i=22,s=231
i=23,s=253
i=24,s=276
i=25,s=300
i=26,s=325
i=27,s=351
i=28,s=378
i=29,s=406
i=30,s=435
i=31,s=465
i=32,s=496
i=33,s=528
i=34,s=561
i=35,s=595
i=36,s=630
i=37,s=666
i=38,s=703
i=39,s=741
i=40,s=780
i=41,s=820
i=42,s=861
i=43,s=903
i=44,s=946
i=45,s=990
i=46,s=1035
i=47,s=1081
i=48,s=1128
i=49,s=1176
i=50,s=1225
i=51,s=1275
i=52,s=1326
i=53,s=1378
i=54,s=1431
i=55,s=1485
i=56,s=1540
i=57,s=1596
i=58,s=1653
i=59,s=1711
i=60,s=1770
i=61,s=1830
i=62,s=1891
i=63,s=1953
i=64,s=2016
i=65,s=2080
i=66,s=2145
i=67,s=2211
i=68,s=2278
i=69,s=2346
i=70,s=2415
i=71,s=2485
i=72,s=2556
i=73,s=2628
i=74,s=2701
i=75,s=2775
i=76,s=2850
i=77,s=2926
i=78,s=3003
i=79,s=3081
i=80,s=3160
i=81,s=3240
i=82,s=3321
i=83,s=3403
i=84,s=3486
i=85,s=3570
i=86,s=3655
i=87,s=3741
i=88,s=3828
i=89,s=3916
i=90,s=4005
i=91,s=4095
i=92,s=4186
i=93,s=4278
i=94,s=4371
i=95,s=4465
i=96,s=4560
i=97,s=4656
i=98,s=4753
i=99,s=4851
i=100,s=4950
i=101,s=5050
1부터100까지의 합은 5050입니다.

In [73]:
selected=None
while selected not in ['가위','바위','보']:
  selected=input('가위,바위,보 중에 선택하세요')
print('선택한 값은:',selected)

가위,바위,보 중에 선택하세요싫어용
가위,바위,보 중에 선택하세요내가왜용
가위,바위,보 중에 선택하세요가위
선택한 값은: 가위

In [77]:
n=-2
while n<=0:
  n=int(input('합을 구할 양의 정수를 입력하세요.'))
s=0
for i in range(1,n+1):
  s+=i
print('1부터 {}까지의 합은 {}'.format(n,s))

합을 구할 양의 정수를 입력하세요.10
1부터 10까지의 합은 55

In [78]:
st='Programming'

for ch in st:
  if ch in ['a','e','i','o','u']:
    continue
  print(ch)
print('the end')

P
r
g
r
m
m
n
g
the end

In [79]:
#연습문제 3.2
x=input('이름을 입력하시오:')
y=int(input('키를 입력하시오(단위cm):'))
if y<140:
  print(x,'님은 놀이기구를 탈 수 없습니다.')
else:
  print(x,'님은 놀이기구를 탈 수 있습니다.')

이름을 입력하시오:동윤
키를 입력하시오(단위cm):170
동윤 님은 놀이기구를 탈 수 있습니다.

In [81]:
#연습문제 3.3

x=int(input('나이를 입력하시오:'))
y=int(input('키를 입력하시오(단위cm):'))
if x>=19 and y>=150:
  print('입장할 수 있습니다.')
else:
  print('입장할 수 없습니다.')

나이를 입력하시오:20
키를 입력하시오(단위cm):149
입장할 수 없습니다.

In [87]:
#연습문제 3.5
a, b = input('두 정수를 입력하세요: ').split()
if a>b:
  print(a,b)
else:
  print(b,a)

두 정수를 입력하세요: 30 12

TypeError: ignored

In [ ]:
a,b,c = input('세 정수를 입력하세요:').split()
if a<b

In [90]:
x,y=map(int, input('숫자 두 개를 입력하세요: ').split())
if x>0 and y>0:
  print('1사분면에 있음')
elif x<0 and y>0:
  print('2사분면에 있음')
elif x<0 and y<0:
  print('3사분면에 있음')
else:
  print('4사분면에 있음')

숫자 두 개를 입력하세요: 12 24
1사분면에 있음

In [93]:
c=int(input('정수를 입력하시오:'))
if c%2==0:
  print(c,'는(은) 2(으)로 나누어집니다.')
  if c%3==0:
    print(c,'는(은) 3(으)로 나누어집니다.')
    print(c,'는(은) 2와 3 모두로 나누어집니다.')
  else:
    print(c,'는(은) 3(으)로 나누어지지 않습니다.')
    print(c,'는(은) 2와 3 모두로 나누어지지 않습니다.')    

elif c%3 ==0:
  print(c,'는(은) 2(으)로 나누어지지 않습니다.')
  print(c,'는(은) 3(으)로 나누어집니다.')
  print(c, '는(은) 2와 3 모두로 나누어지지 않습니다.')

정수를 입력하시오:12
12 는(은) 2(으)로 나누어집니다.
12 는(은) 3(으)로 나누어집니다.
12 는(은) 2와 3 모두로 나누어집니다.

In [95]:
x,y=map(int, input('숫자 두 개를 입력하세요: ').split())
if x%y==0:
  print('{}는{}의 배수입니다.'.format(x,y))
else:
  print('{}는{}의 배수가 아닙니다.'.format(x,y))

숫자 두 개를 입력하세요: 125 52
125는52의 배수가 아닙니다.

In [ ]:
x,y,z=map(int, input('1에서 10 사이의 숫자 세 개를 입력하세요: ').split())